{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container my-5 bg-light border border-danger p-5">
        <h2 class="mb-5 mt-5 text-center text-dark">Enregistrer votre tâche :</h2>
        <div class="m-5 p-5">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}